h2{
    text-align: center;    
}

nav{
    text-align: center;
}

#me{
    float: left;
}

nav a{/* Links within "nav" container*/
    padding: 22px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration:none;
    color: black; 
}

nav a:hover{/*pseudo class*/
    border-bottom:2px blue solid;
    font-size: 2em;
    transition: .9s;/* transition effect*/
}
#under{
    text-decoration: underline;
    color: white;
}

body{
    background-color: pink;
}

a{
    color:black;
}

li{
    font-size: 25px;
}

footer{
    font-size: 15px;
    color: black;
    clear: left;
    text-align: center;
}
.links{
    color:white;
}

hr{
    width :50%;
}

ul{
    list-style-type:square;
}


header{
    font-size: 28px;
}

figure{
    color: white;
}
